<section class = "rants-new">
  <article class = "rant-item form">
    <header class = "rant-header">
      <div class = "rant-header-title">
        {{input placeholder = "Rant title" class= "input" value=newTitle  type= "text" }}
      </div>
      <div class = "rant-header-actions">
          <button class = "button button-primary"{{action 'newRant'}}>Save</button>
        {{#link-to 'rants'}}
          <button class = "button button-default"{{action 'cancelRant'}}>Cancel</button>
        {{/link-to}}
      </div>
    </header>
    <aside class= "rant-secondary">
      <div class= "author">
        <div>{{gravatar-image email= user.email class='author-photo'}}</div>
        <h5></h5>
        <h6></h6>
        {{#if newBody}}
        {{newBody.length}}
      {{else}}
        0
      {{/if}}
      Characters
      <div class="errors">
        {{message-queue}}
      </div>
      </div>
    </aside>
    <section class= "rant-item-content">
      {{textarea placeholder= "Start your rant." rows = "13" value=newBody}}
    </section>
  </article>
</section>
