{{#if results}}
    {{#each rant in results}}
        {{#if isEditing}}
            <article class = "rant-item">
              <header class = "rant-header">
                <div class = "rant-header-title">
                  {{input class= "input" value=rant.title  type= "text" }}
                </div>
                <div class = "rant-header-actions">
                  <button class="button button-primary" {{action 'saveRant' this}}>
                    <span class= "icon-upload fa fa-save"> Save</span>
                  </button>
                  <button class="button button-default" {{action 'cancelRant' this}}>
                    <span class= "icon-exit fa fa-share-square-o"> Cancel</span>
                  </button>
                  <button class="button button-warning"{{action 'deleteRant' this}}>
                    <span class= "icon-trash fa fa-trash-o"> Delete</span>
                  </button>
                </div>
              </header>
              <aside class= "rant-secondary">
                <div class= "author">
                  <div class= "author-photo"></div>
                  <h5></h5>
                  <h6></h6>
                </div>
                {{rant.body.length}} Characters
                <div class="errors">
                </div>
              </aside>
              <section class = "rant-item-content">
                  {{textarea rows = "13" value=rant.body}}
              </section>
            </article>
        {{else}}
          <section class="rants-index">
            <article class="rant-item">
              <header class="rant-header">
                <div class = "rant-header-title">
                  {{#link-to 'rant' rant}}
                    <h3>{{rant.title}}</h3>
                  {{/link-to}}
                </div>
                {{# if rantMatch}}
                  <div class = "rant-header-actions">
                    <button class="button button-primary" {{action 'editRant' rant}}>
                      <span class= "icon-new fa fa-pencil-square-o"> Edit</span>
                    </button>
                  </div>
                {{/if}}
              </header>
              <aside class= "rant-secondary">
                <div class= "author">
                  <div>{{gravatar-image email= rant.user.email class='author-photo'}}</div>
                  <h5></h5>
                  <h6></h6>
                </div>
              </aside>
              <section class = "rant-item-content">
                {{rant.body}}
              </section>
          </section>
        {{/if}}
    {{/each}}
{{else}}

  <section class= "hero">
    <header class="hero-header">
      <h3>
        These aren't the droids you are looking for.
      </h3>
      <h4></h4>
    </header>
    <div class="hero-content">
      <p>
        Keep searching.
      </p>
    </div>
    </section>
{{/if}}
