<!DOCTYPE html>
<html>

  <head>
    <title>Rantly</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Laila:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body class = "ember-application">
    <header class="app-header">
      <div class = "content">
        <a class="app-header-brand" href="/">Rantly</a>
          <nav>
            {{#link-to 'rants'}}
              Rants
            {{/link-to}}
            {{#link-to 'users'}}
              Users
            {{/link-to}}
            {{#link-to signup}}
              Signup
            {{/link-to}}
          </nav>
      </div>
    </header>

    <section class="content">
      <aside class="rants-navigation">
        <div class="rant-search">
          {{input placeholder="Search" value=search class="rant-search-field" type="search" action= "queryRants"}}
        </div>
        <div>
        <form class="login-form">
          <div class="form-group">
            {{input placeholder="Your email" class="ember-text-field" type = "text"}}
            <label class = "login-field-icon icon-user" for="login-name"></label>
          </div>
          <div class="form-group">
            {{input placeholder="Your password" class="ember-text-field" type = "password"}}
            <label class = "login-field-icon icon-lock" for="login-pass"></label>
          </div>
          {{input class= "button button-primary button-lg button-block" type="submit" value="Log In"}}
        </form>
        </div>
      </aside>

      <header class="app-inner-header">
        {{#link-to 'rants.new'}}
          <button class="button button-invert">New Rant</button>
        {{/link-to}}
      </header>

      <main id = "scroll">
        {{outlet}}
      </main>
    </section>
  </body>

</html>
