<!DOCTYPE html>
<html>

  <head>
    <title>Rantly</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Laila:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body class = "ember-application">
    <header class="app-header">
      <div class = "content">
        {{#link-to 'rants' class="app-header-brand" }}Rantly{{/link-to}}
          <nav>
            {{#link-to 'rants'}}
              Rants
            {{/link-to}}
            {{#link-to 'users'}}
              Users
            {{/link-to}}
            {{#if loggedIn}}
              {{else}}
              {{#link-to 'signup'}}
                Sign Up
              {{/link-to}}
            {{/if}}
          </nav>
      </div>
    </header>

    <section class="content">
      {{#if loggedIn}}
        <aside class="rants-navigation">
          <div class="rant-search">
            {{input placeholder="Search" value=search class="rant-search-field" type="search" action= "queryRants"}}
          </div>
            <div>
            <div class = author>
              <div>{{gravatar-image email= currentUser.email class='author-photo'}}</div>
              <h5></h5>
              <h6></h6>
            </div>
            <button class="button button-primary button-lg button-block" {{action "signOut"}}>Log Out</button>
            </div>
        </aside>

        <header class="app-inner-header">
          {{#link-to 'rants.new'}}
            <button class="button button-invert">New Rant</button>
          {{/link-to}}
        </header>
      {{else}}
        <aside class="rants-navigation">
          <div class="rant-search">
            {{input placeholder="Search" value=search class="rant-search-field" type="search" action= "queryRants"}}
          </div>
          <div>
          <form class="login-form">
            <div class="form-group">
              {{input placeholder="Your email" class="ember-text-field" value= login-name type= "text"}}
              <label class= "login-field-icon icon-user" for= "login-name"><i class="fa fa-user fa-lg log-in-field log-in-email"></i></label>
            </div>
            <div class="form-group">
              {{input placeholder="Your password" class="ember-text-field" value= login-pass type= "password"}}
              <label class= "login-field-icon icon-lock" for= "login-pass"><i class="fa fa-lock fa-lg log-in-field log-in-pass"></i></label>
            </div>
            <button class= "button button-primary button-lg button-block" {{action "login"}}>Log In</button>
            <div class= "errors"></div>
          </form>
          {{#if errorMessage}}
            <div>{{errorMessage}}</div>
          {{/if}}
          </div>
        </aside>
        <header class="app-inner-header">
        </header>
      {{/if}}

      <main id = "scroll">
        {{outlet}}
      </main>
    </section>
  </body>

</html>
