<div class="user-show">
  <aside>
    <h5>
      {{firstName}}
      {{lastName}}
    </h5>
    <h6>
      {{email}}
    </h6>
  </aside>
  <aside class= "rant-secondary">
    <div class= "author">
      <div class= "author-photo"></div>
      <h5></h5>
      <h6></h6>
    </div>
  </aside>
</div>

<main id="scroll">
  {{#each rant in rants}}
    <article class = "rant-item">
      <header class = "rant-header">
        <div class = "rant-header-title">
          <h3>{{rant.title}}</h3>
        </div>
        <div class = "rant-header-actions">
          <button class="button button-primary" {{action 'editRant' rant}}>
            <span class= "icon-new">Edit</span>
          </button>
        </div>
      </header>
      <section class = "rant-item-content">
        <p>{{rant.body}}</p>
      </section>
    </article>
  {{/each}}
</main>
