<div class="user-show">
  <aside>
    <h5>
      {{firstName}}
      {{lastName}}
    </h5>
    <h6>
      {{email}}
    </h6>
  </aside>
  <aside class= "rant-secondary">
    <div class= "author">
      <div>{{gravatar-image email= email class='author-photo'}}</div>
      <h5></h5>
      <h6></h6>
    </div>
  </aside>
</div>

<main id="scroll">
  {{#each rant in rants}}
    <article class = "rant-item">
      <header class = "rant-header">
        <div class = "rant-header-title">
          {{#link-to 'rant' rant.id}}<h3>{{rant.title}}</h3>{{/link-to}}
        </div>
        <div class = "rant-header-actions">
        </div>
      </header>
      <aside class= "rant-secondary">
        {{rant.body.length}} Characters
      </aside>
      <section class = "rant-item-content">
        <p>{{rant.body}}</p>
      </section>
    </article>
  {{/each}}
</main>
